<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Filter Header -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Add Zone</h5>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Add Zone</button>
            </div>
            <app-filters [fields]="fields" (applyFilter)="zoneList()" (resetFilter)="reset()"></app-filters>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource] = "dataSource" 
            (delete_button)="deleteZone($event)" (update_button)="updateZone()"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>


<!-- <div style="display: flex; gap: 10px; margin: 10px;">
    <button class="btn btn-outline-secondary" (click)="addZone()">
        Add Zone
    </button>
</div> -->