<div class="row">
    <div class="col-12">
        <div class="card">
            <app-filters [form_name]="form_name" [fields]="fields"></app-filters>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource] = "dataSource"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<div>
    <label for="id">ID</label>
    <input type="text" placeholder="Search ID" [(ngModel)]="zoneFilters.id">

    <label>Name</label>
    <input type="text" placeholder="Search Name" [(ngModel)]="zoneFilters.name">

    <label>Legal ID</label>
    <input type="text" placeholder="Search Legal ID" [(ngModel)]="zoneFilters.legal_id">

    <button (click)="zoneList()">Apply</button>
    <button (click)="reset()">Reset</button>
</div>

<div style="display: flex; gap: 10px; margin: 10px;">
    <button class="btn btn-outline-secondary" (click)="addZone()">
        Add Zone
    </button>
    <button class="btn btn-outline-warning" (click)="updateZone()">
        Update Zone
    </button>
    <button class="btn btn-outline-primary" (click)="deleteZone()">
        Delete Zone
    </button>
</div>