<div class="d-flex justify-content-center mt-3 mb-4">
  <img src="logo.png" class="logo img-fluid" alt="logo">
</div>
<div class="nav flex-column">
  <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
  <a class="nav-link" routerLink="/assignments">Assignments</a>
  <a class="nav-link" routerLink="/trucks">Trucks</a>
  <a class="nav-link" routerLink="/documentation">Documentation</a>
  <a class="nav-link" routerLink="/drivers">Drivers</a>
  <a class="nav-link" routerLink="/requests">Requests</a>

  <a class="nav-link" routerLink="/farm">Farm</a>
  <a class="nav-link" routerLink="/supplier">Supplier</a>
  <a class="nav-link" routerLink="/zone">Zone</a>
  <a class="nav-link" routerLink="/container">Container</a>
  <a class="nav-link" routerLink="/restriction">Restriction</a>
  <a class="nav-link" routerLink="/trucking_requests">Trucking Requests</a>
</div>