<p>sidebar works!</p>
<img src="logo.png" width="100" height="100" alt="logo">
<!-- <div style="display: flex; flex-direction: column; align-items: start;">

    <button> <a href="/dashboard"></a> Dashboard </button>
    <button> <a href="/assignments"></a> Assignments </button>
    <button> <a href="/trucks"></a> Assignments </button>
    <button> <a href="/documentation"></a> Documentation </button>
    <button> <a href="/drivers"></a> Drivers </button>
    <button> <a href="/requests"></a> Requests </button>



    
    <button> <a href="/farm"></a> Farm </button>
    <button> <a href="/supplier"></a> Supplier </button>
    <button> <a href="/zone"></a> Zone </button>
    <button> <a href="/cpntainer"></a> Container </button>
    <button> <a href="/restriction"></a> Restriction </button>
    <button> <a href="/trucking_requests"></a> Trucking Requests </button>
</div> -->
<div style="display: flex; flex-direction: column; align-items: start;">
    <button routerLink="/dashboard">Dashboard</button>
    <button routerLink="/assignments">Assignments</button>
    <button routerLink="/trucks">Trucks</button>
    <button routerLink="/documentation">Documentation</button>
    <button routerLink="/drivers">Drivers</button>
    <button routerLink="/requests">Requests</button>
  
    <button routerLink="/farm">Farm</button>
    <button routerLink="/supplier">Supplier</button>
    <button routerLink="/zone">Zone</button>
    <button routerLink="/container">Container</button>
    <button routerLink="/restriction">Restriction</button>
    <button routerLink="/trucking_requests">Trucking Requests</button>
  </div>
  