<div class="d-flex justify-content-center mt-3 mb-4">
  <img src="../../../../assets/images/logo-delmonte.svg" class="logo img-fluid" alt="logo">
</div>
<div class="nav flex-column">
  <!-- System Admin menus start  -->
  <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
    <app-icon icon="lucide:home" [width]="24" [height]="24" class="nav-icon"></app-icon>
    <span class="nav-label">Dashboard</span>
  </a>
  <a class="nav-link" routerLink="/farm" routerLinkActive="active">
    <app-icon icon="ph:farm" [width]="24" [height]="24" class="nav-icon"></app-icon>
    <span class="nav-label">Farm</span>
  </a>
  <a class="nav-link" routerLink="/supplier" routerLinkActive="active">
    <app-icon icon="solar:delivery-linear" [width]="24" [height]="24" class="nav-icon"></app-icon>
    <span class="nav-label">Trucking Company</span>
  </a>
  <a class="nav-link" routerLink="/zone" routerLinkActive="active">
    <app-icon icon="hugeicons:location-03" [width]="24" [height]="24" class="nav-icon"></app-icon>
    <span class="nav-label">Zone</span>
  </a>
  <a class="nav-link" routerLink="/restriction" routerLinkActive="active">
    <app-icon icon="prime:ban" [width]="24" [height]="24" class="nav-icon"></app-icon>
    <span class="nav-label">Restriction</span>
  </a>
  <a class="nav-link" routerLink="/drivers" routerLinkActive="active">
    <app-icon icon="healthicons:truck-driver" [width]="24" [height]="24" class="nav-icon"></app-icon>
    <span class="nav-label">Drivers</span>
  </a>
  <!-- System Admin menus end  -->
  <a class="nav-link" routerLink="/audit-trail" routerLinkActive="active">
    <app-icon icon="material-symbols-light:dataset-outline" [width]="24" [height]="24" class="nav-icon"></app-icon>
    <span class="nav-label">Audit Trails</span>
  </a>
</div>