<div class="bg-header">
    <div>
        <div class="d-flex gap-2 align-items-center">
            <app-icon icon="mdi:menu-open" [width]="36" [height]="36" (click)="onToggle()"
                class="cursor collapse-icon"></app-icon>
            <h4 class="mb-0 fw-bold">Good Morning Anima</h4>
        </div>
        <p class="text-light mb-0 fw-semibold">Hope you have a good day and work better</p>
    </div>
    <div class="dropdown">
        <div class="d-flex align-items-center gap-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../../assets/images/user.jpg" class="user" alt="logo">
            <p class="mb-0">Kane Williamson</p>
            <app-icon icon="formkit:caretdown" [width]="14" [height]="14" class="text-light ms-3"></app-icon>
        </div>
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Setting</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
    </div>
</div>