@import '../../../../assets/styles/variables.scss';


.bg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    padding-left: 2rem;
}

.dropdown-toggle {
    background-color: $white;
    border-radius: 10px;
}

.notification_icon {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon_svg svg {
    width: 24px;
    height: 24px;
}