@import '../../../../assets/styles/variables.scss';


.bg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 0;
    padding-left: 2rem;
}

.dropdown-toggle {
    background-color: $white;
    border-radius: 10px;
    padding: 8px;
}

.notification_icon {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}