<nav aria-label="Page navigation example">
    <div id="navPagination" class="d-flex justify-content-between align-items-center">
        <!-- Left Side: Records & Total Records -->
        <div class="d-flex align-items-center gap-3">
            <div *ngIf="showPaginator" class="d-flex gap-2 align-items-center">
                <label class="fs-14 fw-semibold">Records:</label>
                <div class="dropdown">
                    <button class="btn btn-outline-light btn-sm px-2 dropdown-toggle d-flex align-items-center"
                        id="pageCount" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="me-2">{{ pageNo }}</span>
                        <app-icon icon="mingcute:down-line" [width]="20" [height]="20"></app-icon>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor="let pages of pagesList">
                            <a class="dropdown-item" (click)="pagesSelected(pages)">
                                {{ pages }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div *ngIf="showPaginator">
                <label class="fs-14 fw-semibold">Total Records: {{ pagination.total_records || 0 }}</label>
            </div>
        </div>
        <!-- Right Side: Pagination -->
        <ul *ngIf="pagination.total_records > 0" class="pagination gap-3 me-3">
            <li class="page-item">
                <button [disabled]="pagination.current_page < 2" class="page-link"
                    (click)="goToPage(pagination.current_page - 1)">
                    <app-icon icon="ooui:previous-ltr" [width]="14" [height]="14"></app-icon>
                </button>
            </li>

            <li *ngFor="let page of getVisiblePages()" class="page-item"
                [ngClass]="{'active': page == pagination.current_page}">
                <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
            </li>

            <li class="page-item">
                <button [disabled]="pagination.current_page == pagination.total_pages.length" class="page-link"
                    (click)="goToPage(pagination.current_page + 1)">
                    <app-icon icon="ooui:next-ltr" [width]="14" [height]="14"></app-icon>
                </button>
            </li>
        </ul>
    </div>
</nav>