<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Division Column -->
  <ng-container matColumnDef="Division">
    <th mat-header-cell *matHeaderCellDef> Division </th>
    <td mat-cell *matCellDef="let element"> {{element.Division}} </td>
  </ng-container>

  <!-- Farm Column -->
  <ng-container matColumnDef="Farm">
    <th mat-header-cell *matHeaderCellDef> Farm </th>
    <td mat-cell *matCellDef="let element"> {{element.Farm}} </td>
  </ng-container>

  <!-- Creation Time Column -->
  <ng-container matColumnDef="Creation_Time">
    <th mat-header-cell *matHeaderCellDef> Creation Time</th>
    <td mat-cell *matCellDef="let element"> {{element.Creation_Time}} </td>
  </ng-container>

  <!-- Depot Column -->
  <ng-container matColumnDef="Depot">
    <th mat-header-cell *matHeaderCellDef> Depot </th>
    <td mat-cell *matCellDef="let element"> {{element.Depot}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="Action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> {{element.Action}} </td>
  </ng-container>

  <!-- ID Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <!-- Driver Phone Number Column -->
  <ng-container matColumnDef="Driver_Phone_Number">
    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
    <td mat-cell *matCellDef="let element"> {{element.user?.phone_number}} </td>
  </ng-container>

  <!-- License Status Column -->
  <ng-container matColumnDef="license_status">
    <th mat-header-cell *matHeaderCellDef> License Status</th>
    <td mat-cell *matCellDef="let element"> {{element.license_status}} </td>
  </ng-container>

  <!-- Driving License Expiry -->
  <ng-container matColumnDef="Driving_License_Expiry">
    <th mat-header-cell *matHeaderCellDef> Driving License Expiry</th>
    <td mat-cell *matCellDef="let element"> {{element.license_expiry}} </td>
  </ng-container>

  <!-- Driving License Expiry -->
  <ng-container matColumnDef="Driver_Status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element"> {{element.user?.status}} </td>
  </ng-container>

  <!-- Documents Column -->
  <ng-container matColumnDef="Documents">
    <th mat-header-cell *matHeaderCellDef> Documents </th>
    <td mat-cell *matCellDef="let element"> {{element.Documents}} </td>
  </ng-container>

  <!-- Reason Column -->
  <ng-container matColumnDef="Reason">
    <th mat-header-cell *matHeaderCellDef> Reason </th>
    <td mat-cell *matCellDef="let element"> {{element.Reason}} </td>
  </ng-container>

  <!-- Created at Column -->
  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef> Created at </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
  </ng-container>

  <!-- Farm Zone Column -->
  <ng-container matColumnDef="Farm_Zone">
    <th mat-header-cell *matHeaderCellDef> Farm Zone </th>
    <td mat-cell *matCellDef="let element"> {{element.user?.user_zones[0]?.zone?.name}} </td>
  </ng-container>

  <!-- Farm Location Column -->
  <ng-container matColumnDef="Farm_Location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <!-- Suppliers Column -->
  <ng-container matColumnDef="Farm_Suppliers">
    <th mat-header-cell *matHeaderCellDef> Suppliers </th>
    <td mat-cell *matCellDef="let element"> {{element.supplier?.full_name}} </td>
  </ng-container>

  <!-- Documentation Status Column -->
  <ng-container matColumnDef="Documentation_Status">
    <th mat-header-cell *matHeaderCellDef> Documentation Status </th>
    <td mat-cell *matCellDef="let element"> {{element.Documentation_Status}} </td>
  </ng-container>

  <!-- Activation Column -->
  <ng-container matColumnDef="Activation">
    <th mat-header-cell *matHeaderCellDef> Activation </th>
    <td mat-cell *matCellDef="let element"> {{element.Activation}} </td>
  </ng-container>

  <!-- Phone number Column -->
  <ng-container matColumnDef="Supplier_Phone_Number">
    <th mat-header-cell *matHeaderCellDef> Phone number </th>
    <td mat-cell *matCellDef="let element"> {{element.user?.phone_number}} </td>
  </ng-container>

  <!-- Supplier id Column -->
  <ng-container matColumnDef="Booking_Id">
    <th mat-header-cell *matHeaderCellDef> Booking Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Contact Person Column -->
  <ng-container matColumnDef="Supplier_Contact_Person">
    <th mat-header-cell *matHeaderCellDef> Contact Person </th>
    <td mat-cell *matCellDef="let element"> {{element.user.phone_number}} </td>
  </ng-container>
  
  <!-- Zone id Column -->
  <ng-container matColumnDef="Zone_ID">
    <th mat-header-cell *matHeaderCellDef> Zone Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Zone legal id Column -->
  <ng-container matColumnDef="Legal_Id">
    <th mat-header-cell *matHeaderCellDef> Legal Id </th>
    <td mat-cell *matCellDef="let element"> {{element.legal_id}} </td>
  </ng-container>
  
  <!-- Zone Name Column -->
  <ng-container matColumnDef="Zone_Name">
    <th mat-header-cell *matHeaderCellDef> Zone Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Zone Created at Column -->
  <ng-container matColumnDef="Created_at">
    <th mat-header-cell *matHeaderCellDef> Created at </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
  </ng-container>

  <!-- Zone Phone Number Column -->
  <ng-container matColumnDef="Contact_Number">
    <th mat-header-cell *matHeaderCellDef> Contact Number </th>
    <td mat-cell *matCellDef="let element"> {{element.contact_number}} </td>
  </ng-container>

  <!-- Zone Email Column -->
  <ng-container matColumnDef="Zone_Email">
    <th mat-header-cell *matHeaderCellDef> Zone Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Supplier Email Column -->
  <ng-container matColumnDef="Supplier_Email">
    <th mat-header-cell *matHeaderCellDef> Email Address </th>
    <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
  </ng-container>

  <!-- Zone Location Column -->
  <ng-container matColumnDef="Zone_Location">
    <th mat-header-cell *matHeaderCellDef> Zone Location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>
  
  <!-- Vessel Column -->
  <ng-container matColumnDef="Vessel">
    <th mat-header-cell *matHeaderCellDef> Vessel </th>
    <td mat-cell *matCellDef="let element"> {{element.Vessel}} </td>
  </ng-container>

  <!-- Booking Column -->
  <ng-container matColumnDef="Booking">
    <th mat-header-cell *matHeaderCellDef> Booking </th>
    <td mat-cell *matCellDef="let element"> {{element.Booking}} </td>
  </ng-container>

  <!-- Ship CO Column -->
  <ng-container matColumnDef="Ship_CO">
    <th mat-header-cell *matHeaderCellDef> Ship CO </th>
    <td mat-cell *matCellDef="let element"> {{element.Ship_CO}} </td>
  </ng-container>

  <!-- Chasis Column -->
  <ng-container matColumnDef="Chasis">
    <th mat-header-cell *matHeaderCellDef> Chasis </th>
    <td mat-cell *matCellDef="let element"> {{element.Chasis}} </td>
  </ng-container>

  <!-- Temp Column -->
  <ng-container matColumnDef="Temp">
    <th mat-header-cell *matHeaderCellDef> Temp </th>
    <td mat-cell *matCellDef="let element"> {{element.Temp}} </td>
  </ng-container>

  <!-- Deput Column -->
  <ng-container matColumnDef="Deput">
    <th mat-header-cell *matHeaderCellDef> Deput </th>
    <td mat-cell *matCellDef="let element"> {{element.Deput}} </td>
  </ng-container>

  <!-- Request Id Column -->
  <ng-container matColumnDef="Request_Id">
    <th mat-header-cell *matHeaderCellDef> Request Id </th>
    <td mat-cell *matCellDef="let element"> {{element.Request_Id}} </td>
  </ng-container>

  <!-- Truck Number Column -->
  <ng-container matColumnDef="Truck_Number">
    <th mat-header-cell *matHeaderCellDef> Truck Number </th>
    <td mat-cell *matCellDef="let element"> {{element.Truck_Number}} </td>
  </ng-container>

  <!-- Driver Column -->
  <ng-container matColumnDef="Driver">
    <th mat-header-cell *matHeaderCellDef> Driver </th>
    <td mat-cell *matCellDef="let element"> {{element.Driver}} </td>
  </ng-container>

  <!-- Driver ID Column -->
  <ng-container matColumnDef="Driver_ID">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Driver Name Column -->
  <ng-container matColumnDef="Driver_Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.user.full_name}} </td>
  </ng-container>

  <!-- Depot Status Column -->
  <ng-container matColumnDef="Depot_Status">
    <th mat-header-cell *matHeaderCellDef> Depot Status </th>
    <td mat-cell *matCellDef="let element"> {{element.Depot_Status}} </td>
  </ng-container>

  <!-- User Id Column -->
  <ng-container matColumnDef="User_Id">
    <th mat-header-cell *matHeaderCellDef> User Id </th>
    <td mat-cell *matCellDef="let element"> {{element.User_Id}} </td>
  </ng-container>

  <!-- Role Column -->
  <ng-container matColumnDef="Role">
    <th mat-header-cell *matHeaderCellDef> Role </th>
    <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
  </ng-container>

  <!-- Current Allocated Truck Column -->
  <ng-container matColumnDef="Current_Allocated_Truck">
    <th mat-header-cell *matHeaderCellDef> Current Allocated Truck </th>
    <td mat-cell *matCellDef="let element"> {{element.Current_Allocated_Truck}} </td>
  </ng-container>

  <!-- Farm ID Column -->
  <ng-container matColumnDef="Farm_ID">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Form Name Column -->
  <ng-container matColumnDef="Farm_Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.user.full_name}} </td>
  </ng-container>

  <!-- Truck Status Column -->
  <ng-container matColumnDef="Truck_Status">
    <th mat-header-cell *matHeaderCellDef> Truck Status </th>
    <td mat-cell *matCellDef="let element"> {{element.Truck_Status}} </td>
  </ng-container>

  <!-- Document Status Column -->
  <ng-container matColumnDef="Document_Status">
    <th mat-header-cell *matHeaderCellDef> Document Status </th>
    <td mat-cell *matCellDef="let element"> {{element.Document_Status}} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
  </ng-container>

  <!-- Veat Column -->
  <ng-container matColumnDef="Veat">
    <th mat-header-cell *matHeaderCellDef> Veat </th>
    <td mat-cell *matCellDef="let element"> {{element.Veat}} </td>
  </ng-container>

  <!-- Trans Company Column -->
  <ng-container matColumnDef="Trans_Company">
    <th mat-header-cell *matHeaderCellDef> Trans Company </th>
    <td mat-cell *matCellDef="let element"> {{element.Trans_Company}} </td>
  </ng-container>

  <!-- Company Name Column -->
  <ng-container matColumnDef="Company_Name">
    <th mat-header-cell *matHeaderCellDef> Company Name </th>
    <td mat-cell *matCellDef="let element"> {{element.company_name}} </td>
  </ng-container>

  <!-- Company Address Column -->
  <ng-container matColumnDef="Company_Address">
    <th mat-header-cell *matHeaderCellDef> Company Address </th>
    <td mat-cell *matCellDef="let element"> {{element.company_address}} </td>
  </ng-container>

  <!-- Destination Column -->
  <ng-container matColumnDef="Destination">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.Destination}} </td>
  </ng-container>





  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>