<div class="row">
    <div class="col-12">
        <div class="card">
            <app-filters [form_name]="form_name" [fields]="fields"></app-filters>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource]="dataSource"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<!-- <div style="display: flex; gap: 10px; margin: 10px;">
    <button class="btn btn-outline-secondary" (click)="addSupplier()">
        Add Supplier
    </button>
    <button class="btn btn-outline-warning" (click)="updateSupplier()">
        Update Supplier
    </button>
    <button class="btn btn-outline-primary" (click)="deleteSupplier()">
        Delete Supplier
    </button>
</div> -->