<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Filter Header -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Trucking Company</h5>
                <button type="button" class="btn btn-secondary" (click)="openModal()">Add Trucking Company</button>
            </div>

            <app-modal #modalRef (addModalDetails)="addSupplier($event)" (updateModalDetails)="updateSupplier($event)" 
            [modal_fields]="editMode ? update_fields : add_fields" [modal_info]="dataObject"></app-modal>

            <app-filters [fields]="fields" (applyFilter)="supplierList()" (resetFilter)="reset()"></app-filters>

            <app-table [displayedColumns]="columnsToDisplay" [dataSource]="dataSource" 
            (deleteModalDetails)="deleteSupplier($event)" (get_button)="getSupplier($event)"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>