<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Filter Header -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Add Driver</h5>
                <button type="button" class="btn btn-secondary" (click)="openModal()">Add Driver</button>
            </div>
            <app-modal #modalRef></app-modal>
            <app-filters [fields]="fields" (applyFilter)="driverList()" (resetFilter)="reset()"></app-filters>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource]="dataSource" 
            (delete_button)="deleteDriver($event)" (update_button)="updateDriver()"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>