
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer [opened]="true" class="example-sidenav" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <div class="example-sidenav-content">
    <app-icon [icon]="icon" width="32" height="32" color="blue"></app-icon>
    <app-icon icon="token:arbitrum-one" [width]="24" [height]="24" color="blue"></app-icon>
    <app-header (toggleDrawer)="drawer.toggle()"></app-header>
    <router-outlet />
  </div>
</mat-drawer-container>

