<div class="row">
    <div class="col-12">
        <div class="card">
            <app-filters [form_name]="form_name" [showFilter]="showFilter" (list_type)="getRestriction($event)"></app-filters>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource]="dataSource" [reActivate_button]="reActivate_button" (delete_button)="removeRestrictionFunction($event)"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <form>
        <label for="id">ID</label>
        <input type="text" id="id" [(ngModel)]="rest_id" name="rest_id">

        <label for="status">Status</label>
        <input type="text" id="status" [(ngModel)]="rest_status" name="rest_status">

        <label for="restriction_reason">Restriction Reason</label>
        <input type="text" id="restriction_reason" [(ngModel)]="rest_reason" name="rest_reason">
    </form>
</div> -->