<div class="row">
    <div class="col-12">
        <div class="card">
            <!-- Filter Header -->
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Restrictions</h5>
                <div class="d-flex gap-3">
                    <button type="button" [ngClass]="activeButton === 'supplier' ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="setActive('supplier')">Company</button>
                    <button type="button" [ngClass]="activeButton === 'truck' ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="setActive('truck')">Truck</button>
                    <button type="button" [ngClass]="activeButton === 'driver' ? 'btn btn-secondary' : 'btn btn-outline-secondary'" (click)="setActive('driver')">Driver</button>
                </div>
            </div>
            <app-modal #modalRef></app-modal>
            <app-filters [showFilter]="showFilter"></app-filters>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource]="dataSource" [reActivate_button]="reActivate_button" 
            (deleteModalDetails)="removeRestrictionFunction($event)"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<div>
    <form>
        <label for="id">ID</label>
        <input type="text" id="id" [(ngModel)]="rest_id" name="rest_id">

        <label for="status">Status</label>
        <input type="text" id="status" [(ngModel)]="rest_status" name="rest_status">

        <label for="restriction_reason">Restriction Reason</label>
        <input type="text" id="restriction_reason" [(ngModel)]="rest_reason" name="rest_reason">

        <button (click)="addRestriction()">Add Restriction</button>

        <button (click)="addTruckRestriction()">Add Truck Restriction</button>
    </form>
</div>