<div class="card-body" *ngIf="showFilter">
    <div class="row align-items-end g-3 mb-3">

        <div class="col-md" *ngFor="let field of fields">
            <label class="form-label" [attr.for]="field.key"> {{ labelMapper[field.key] || field.key | titlecase }}
            </label>

            <!-- Text Input -->
            <input *ngIf="field.type === 'text'" class="form-control" [id]="field.key" [name]="field.key"
                [placeholder]="field.placeholder" type="text" [(ngModel)]="field.value" />

            <!-- Dropdown -->
            <select *ngIf="field.type === 'dropdown'" class="form-select" [id]="field.key" [name]="field.key"
                [(ngModel)]="field.value">
                <option value="" disabled selected>Choose...</option>
                <option *ngFor="let option of field.options" [value]="option.value">
                    {{ option.label }}
                </option>
            </select>
        </div>

        <div class="col-md text-end">
            <button type="button" class="btn btn-primary px-2" (click)="clickResetButton()">
                <app-icon icon="ion:sync-outline" [width]="24" [height]="24"></app-icon>
            </button>
            <button type="button" class="btn btn-outline-primary ms-3" (click)="clickFilterButton()">Apply</button>
        </div>
    </div>
</div>