<div class="row">
    <div class="col-12">
        <div class="card">
            <app-filters [form_name]="form_name" ></app-filters>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource]="dataSource"></app-table>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>





<div>
    <label>ID:</label>
    <input type="text" placeholder="Enter ID" [(ngModel)]="farmFilters.id"/>

    <label>Name:</label>
    <input type="text" placeholder="Enter Name" [(ngModel)]="farmFilters.name"/>

    <button type="submit" (click)="farmList()">Apply Filter</button>
    <button type="submit" (click)="reset()">Reset Filter</button>
</div>

<div style="display: flex; gap: 10px; margin: 10px;">
    <button class="btn btn-outline-secondary" (click)="addFarm()">
        Add Farm
    </button>
    <button class="btn btn-outline-warning" (click)="updateFarm()">
        Update Farm
    </button>
    <button class="btn btn-outline-primary" (click)="deleteFarm()">
        Delete Farm
    </button>
</div>