/* You can add global styles to this file, and also import other style files */

@import url(../src/assets/styles/variables.scss);
@import url(../src/assets/styles/theme.scss);
@import url(../src/assets/styles/fonts.scss);

html,
body {
    height: 100%;
}

body {
    margin: 0;

    .cursor {
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    // right side panel content wrapper 
    .base-content {
        padding: 2rem;
    }
}