<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <app-filters [fields]="fields" (applyFilter)="getAllAuditTrail()" (resetFilter)="reset()"></app-filters>
        </div>
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0"><b>Audit Trail</b></h5>
            </div>
            <app-table [displayedColumns]="columnsToDisplay" [dataSource]="dataSource"></app-table>
            <div class="card-footer">
                <app-paginator [pagination]="pagination" (pageChange)="goToPage($event)"
                    (page_selected)="selectedPage($event)" [(pageNo)]="pageCount"></app-paginator>
            </div>
        </div>
    </div>
</div>