@import '../styles/variables.scss';


body {
    font-size: 14px;

    .fs-16 {
        font-size: 16px;
    }

    .fs-18 {
        font-size: 18px;
    }

    // form control 
    .form-control,
    .form-select {
        border-radius: 5px;
        border-color: $input;
        background-color: $white;
    }

    // navs 
    .nav-link {
        color: $dark;
        display: flex;
        align-items: center;
        padding: 1rem;
        font-size: 1rem;
        justify-content: center;
        margin: auto;
        font-weight: 500;

        &:hover {
            color: $primary;
        }

        &:focus {
            color: $primary;
        }

        &.active {
            color: $primary;
            font-weight: bold;
        }

        .nav-label {
            margin-left: 1rem;
        }
    }

    // dropdowns 
    .dropdown-toggle::after {
        display: none !important;
    }

    .dropdown-menu {
        width: 100% !important;
        margin-top: 2px !important;
        background-color: $white !important;
        box-shadow: $box-shadow;
        border: none !important;
    }

    // cards 
    .card {
        .card-header {
            padding: 1rem;
        }
    }

    // modals 
    .modal {
        .modal-content {
            background-color: $white;
        }
    }

    // .text-orange {
    //     color: $orange;
    // }

    // buttons 
    .btn {
        padding: 0.3rem 1.5rem;
        font-family: 'Poppins', sans-serif;
    }

    .btn-sm {
        padding: 5px 14px;
    }

    .filters {
        .btn-sm {
            padding: 5px 3.5rem;
        }
    }

    .btn-outline-light {
        color: $dark;

        &:hover {
            background-color: $body-bg;
        }

        &:active {
            background-color: $body-bg;
        }

        &:focus {
            background-color: $body-bg;
        }
    }

    // badges 
    .badge {
        padding: 0.575rem 2rem;
        font-size: 14px;
        min-width: 145px;
    }

    // drawer sidebar mat 
    .mat-drawer-container {
        height: 100vh;
        background-color: $body-bg;

        .mat-drawer {
            width: 75px;
            transform: translate3d(0, 0, 0);
            display: block;
            visibility: visible !important;
            background-color: $white;
            border: 0;
            border-radius: 0;
            overflow: visible;

            .logo {
                height: 30px;
                width: 30px;
            }

            .nav-label {
                display: none;
            }

            &.mat-drawer-opened {
                .logo {
                    height: 84px;
                    width: 84px;
                }

                .nav-link {
                    justify-content: start;
                    margin: inherit;

                    .nav-label {
                        display: inline-block;
                    }
                }
            }
        }

        .mat-drawer-content {
            margin-left: 75px;
        }

        .mat-drawer-opened {
            width: 260px;

            &~.mat-drawer-content {
                margin-left: 260px !important;
            }

            .collapse-icon-wrapper {
                .collapse-icon {
                    transform: rotate(0);
                }
            }
        }

        .collapse-icon-wrapper {
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            box-shadow: $box-shadow;
            border-radius: 50%;
            position: absolute;
            right: -1.5rem;
            top: 1rem;
            z-index: 10;

            .collapse-icon {
                transform: rotate(-180deg);
            }
        }
    }

    // table mat 
    .mat-mdc-table {
        box-shadow: none;
        background-color: $white;
        font-family: $body-font-family;

        thead {
            background-color: $success;
            color: $white;

            .mat-mdc-header-row {
                font-family: $body-font-family;
                color: $white;
                height: 40px;
                font-size: 14px;
                font-weight: bold;

                .mat-mdc-header-cell {
                    border-color: transparent;
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }

        tbody {
            .mat-mdc-row {
                height: 50px;
                font-family: $body-font-family;
                font-size: 14px;
                color: $dark;

                .mat-mdc-cell {
                    border-color: $input;
                    text-align: center;
                }
            }
        }
    }

    // tables  bootstrap 
    .table {
        margin-bottom: 0;

        th {
            background-color: $body-bg;
        }
    }

    // pagination 
    .pagination {
        .page-item {
            .page-link {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                color: $dark;
                font-size: 14px;
            }

            &.active {
                .page-link {
                    color: $white;
                }
            }
        }
    }

    // close buttons 
    .btn-close {
        opacity: 1;
    }

    // icon wrapper box 
    .icon-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: $body-bg;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dashboard-cards {
        flex-direction: row;
    }

    .border-style {
        border: 3px solid;
        border-radius: 0 10px 10px 0;
        height: 70px;
        margin: auto;
    }

    .action-icon-wrapper {
        background-color: $body-bg;
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        svg {
            width: 20px;
            height: 20px;
        }
    }

    // breadcrumbs 
    .custom-breadcrumbs {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            white-space: nowrap;
            background: $white;
            padding: 6px 18px;
            clip-path: polygon(calc(100% - 10px) 0%,
                    100% 50%,
                    calc(100% - 10px) calc(100% - 0px),
                    0% 100%,
                    10px 50%,
                    0% 0%);


            a {
                text-decoration: none;
                color: $light !important;
                font-size: 18px;
                font-weight: 500;
            }

            &:hover {
                cursor: pointer;

                background: $dark a {
                    color: $white;
                }
            }

            &:last-of-type {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                clip-path: polygon(100% 0%,
                        100% 50%,
                        100% calc(100% - 0px),
                        0% 100%,
                        10px 50%,
                        0% 0%);
            }

            &:first-of-type {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                clip-path: polygon(calc(100% - 10px) 0%,
                        100% 50%,
                        calc(100% - 10px) calc(100% - 0px),
                        0% 100%,
                        0 50%,
                        0% 0%);
                padding-left: 10px;
                padding-right: 12px;
            }

            &:only-child {
                clip-path: none;
            }
        }
    }
}