// main colors 
$primary: #DA291C;
$secondary: #00843D;
$warning: #FF8200;
$success: #43B02A;
$danger: #C10016;
$light: #94999F;
$dark: #2F3439;
$white: #fff;
$black: #000;

// body
$body-bg: #F6F7F9;
$body-color: $dark;

// borders
$border-color: #F0F0F0;
$border-radius: 15px;


// card
$card-bg: $white;
$card-cap-bg: $white;
$card-border-color: $border-color;
$card-border-radius: $border-radius;
$card-inner-border-radius: $border-radius;

// button 
$btn-border-radius: 10px;
$border-radius-sm: 10px;

// inputs 
$input: #D9D9D9;

// table
$table-bg: $white;

// modal 
$modal-bg: $white;

// box shadows 
$box-shadow: 0 2px 4px 0 #00000024;

// subtle 
$primary-bg-subtle: #fdf4f4;
$warning-bg-subtle: #fff9f2;
$success-bg-subtle: #f2f9f5;
// emphasis
$primary-text-emphasis: #EC948D;
$warning-text-emphasis: #FFC080 ;
$success-text-emphasis: #80C19E;


$font-family-base: 'Lato', sans-serif;


@import "../../../node_modules/bootstrap/scss/bootstrap";