$primary: #C10016;
$secondary: #00843D;
$warning: #FF8200;
$success: #43B02A;
$danger: #DA291C;
$light: #94999F;
$dark: #2F3439;
$base: #F6F7F9;

$font-family-base: 'Lato', sans-serif;


@import "../../../node_modules/bootstrap/scss/bootstrap";