<!-- Dashboard Stats -->
<div class="row mb-3 g-3">
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h4 class="fw-bold">{{ stats_obj?.suppliers }}</h4>
                        <h5>Total Companies</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="pixel:tech-companies" [width]="32" [height]="32"
                            class="text-primary-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-success-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h4 class="fw-bold">{{ stats_obj?.trucks }}</h4>
                        <h5>Total Trucks</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="mynaui:truck" [width]="32" [height]="32"
                            class="text-success-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h4 class="fw-bold">{{ stats_obj?.available_trucks }}</h4>
                        <h5>Available Trucks</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="fluent:vehicle-truck-checkmark-48-regular" [width]="32" [height]="32"
                            class="text-primary-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h4 class="fw-bold">{{ stats_obj?.requests }}</h4>
                        <h5>Total Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="lets-icons:refund-back" [width]="32" [height]="32"
                            class="text-success-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-warning-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h4 class="fw-bold">{{ stats_obj?.pending_requests }}</h4>
                        <h5>Pending Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="icon-park-outline:pull-requests" [width]="32" [height]="32"
                            class="text-warning-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h4 class="fw-bold">{{ stats_obj?.assigned_requests }}</h4>
                        <h5>Assigned Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="fluent:person-arrow-back-32-regular" [width]="32" [height]="32"
                            class="text-primary-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-success-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h4 class="fw-bold">{{ stats_obj?.completed_requests }}</h4>
                        <h5>Completed Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="charm:tick" [width]="32" [height]="32" class="text-success-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Dashboard Graphs -->
<div class="row mb-3 g-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-line-graph graphSource="averageTravelTime"></app-line-graph>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-line-graph graphSource="getAverageWaitingTime"></app-line-graph>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-line-graph graphSource="getWeeklyAverageTrips"></app-line-graph>
            </div>
        </div>
    </div>
</div>