<div class="row mb-3 g-3">
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h3 class="fw-bold">127</h3>
                        <h5>Total Companies</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="pixel:tech-companies" [width]="32" [height]="32"
                            class="text-primary-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-success-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h3 class="fw-bold">127</h3>
                        <h5>Total Trucks</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="mynaui:truck" [width]="32" [height]="32"
                            class="text-success-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h3 class="fw-bold">127</h3>
                        <h5>Available Trucks</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="mynaui:truck" [width]="32" [height]="32"
                            class="text-primary-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h3 class="fw-bold">127</h3>
                        <h5>Total Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="lets-icons:refund-back" [width]="32" [height]="32"
                            class="text-primary-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-warning-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h3 class="fw-bold">127</h3>
                        <h5>Pending Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="lets-icons:refund-back" [width]="32" [height]="32"
                            class="text-warning-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-primary-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h3 class="fw-bold">127</h3>
                        <h5>Assigned Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="lets-icons:refund-back" [width]="32" [height]="32"
                            class="text-primary-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4 col-xxl-3">
        <div class="card dashboard-cards">
            <div class="border-style text-success-emphasis"></div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between gap-2">
                    <div>
                        <h3 class="fw-bold">127</h3>
                        <h5>Completed Requests</h5>
                    </div>
                    <div class="icon-wrapper">
                        <app-icon icon="charm:tick" [width]="32" [height]="32" class="text-success-emphasis"></app-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-line-graph></app-line-graph>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="fw-bold mb-0">Recent Requests</h5>
            </div>
            <div class="card-body p-0">
                <!-- <div class="table-responsive">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Created at</th>
                                <th scope="col">Farm Zone</th>
                                <th scope="col">Location</th>
                                <th scope="col">Suppliers</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#54895</td>
                                <td>Ellis Ingram</td>
                                <td>Created at</td>
                                <td>20-02-2025</td>
                                <td>Boston</td>
                                <td>NWS</td>
                                <td>Edit</td>
                            </tr>
                            <tr>
                                <td>#54895</td>
                                <td>Ellis Ingram</td>
                                <td>Created at</td>
                                <td>20-02-2025</td>
                                <td>Boston</td>
                                <td>NWS</td>
                                <td>Edit</td>
                            </tr>
                            <tr>
                                <td>#54895</td>
                                <td>Ellis Ingram</td>
                                <td>Created at</td>
                                <td>20-02-2025</td>
                                <td>Boston</td>
                                <td>NWS</td>
                                <td>Edit</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
                <app-table [displayedColumns]="columnsToDisplay"></app-table>
            </div>
            <div class="card-footer">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <button class="page-link">
                                <app-icon icon="ooui:previous-ltr" [width]="14" [height]="14"></app-icon>
                            </button>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <button class="page-link">
                                <app-icon icon="ooui:next-ltr" [width]="14" [height]="14"></app-icon>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>